@CHARSET "UTF-8";

.square {
	position: absolute;
	left: 85px;
	top: 77px;
	width: 300px;
    height: 315px;
    background: transparent;
	-webkit-animation: roulette 8s ease-out;
	animation: roulette 8s ease-out;
	animation-delay: 1s;
}

.circle {
	left: 136px;
	width: 22px;
	height: 22px;
	border-radius: 22px;
	background-color: black;
	position: absolute;
} 

@-webkit-keyframes roulette {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}
@keyframes roulette {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}